.header{
    border-radius:2px;
    color: white;
    background-color: #1C4A2A;
    width: 100%;
    font-size:32px;
    text-align: center;
    padding: 10px;
}
  /* Doctor Cards */
  .doctorsList {
    display: flex;
    flex-direction: row;
    gap:20px;
    /* flex-wrap: wrap; */
    justify-content: center;
    width: 100%;
        
  }
  .container h1{
    text-align: center;
    padding: 20px;
    
  }
  .container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .card {
    
    width: 22%;
    
    background: #F8FCF9;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    text-align: center;
    transition: 0.3s ease-in-out;
    height: 60%;
    font-size: 16px;
    margin: 20px;
    
  }
  .card h3 {
    font-size: 20px;
  }
  .rateSpecial{
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 10px;
    align-items: center;
    width: 100%;
  }
  .rateSpecial p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }
  
  .card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card .image {
    border-radius: 50%;
    
  }
  
  
  .bookBtn {
    width: 50%;
    height: 70%;
    color: black;
    /* margin-top: 30px; */
    padding: 10px;
    /* border: none; */
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    background-color: #F8FCF9;
    transition: 0.3s;
    margin-top: 40px;
  }
  
  .bookBtn:hover {
    background: #0056b3;
  }
  
  .noResults {
    text-align: center;
    font-size: 18px;
    color: gray;
    margin-top: 20px;
  }
  
 .buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:10px;
 } 
 /* Status styles */
.approvedStatus {
  color: green;
  font-weight: bold;
}

.declinedStatus {
  color: red;
  font-weight: bold;
}

.pendingStatus {
  color: orange;
  font-weight: bold;
}

/*  Disable Button after Approval/Decline */
.disabledBtn {
  background-color: #f0f0f0;
  color: #999;
  border: none;
  padding: 6px 12px;
  cursor: not-allowed;
}

 
.AddDoctor{
  width: 200px;
  height: 40px;
  border-radius:5px ;
  text-align: center;
  color:white;
  font-size: 20px;
  padding: 8px;
  margin: 10px;
  background-color: #1C4A2A;
  float:right;
}
.container > Link{
  width: 200px;
  display: inline-block;
  
}
.doctorsList{
  display: flex;
  flex-wrap: wrap;
}